@media (min-width: 641px)
  div.section
    div
      width: 50%
    div.image
      height: 400px
    &.sirius
      flex-direction: row
    &.town
      flex-direction: row-reverse
    &.sea
      flex-direction: row
