@media (max-width: 640px)
  div.section
    div
      width: 100%
    div.image
      height: 500px
    &.sirius
      flex-direction: column
    &.town
      flex-direction: column
    &.sea
      flex-direction: column
